@{
    ViewData["Title"] = "PHIMAS";
}

<section class="startup-card">
    <img class="startup-card__logo" src="~/images/LOGOP.png" alt="PHIMAS logo" />

    <div class="startup-card__actions">
        <a asp-controller="Account" asp-action="SignIn" class="btn btn-phimas">Sign In</a>
        <a asp-controller="Account" asp-action="SignUp" class="btn btn-ghost">Create Account</a>
    </div>
</section>
